<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="www.thymeleaf.org">
<head>
    <link rel="icon" href="images/404.gif">
    <link rel="stylesheet" href="stylesheet/stylesheet.css">
    <meta charset="UTF-8">
    <title>NOT FOUND</title>
</head>
<body>
    <div class="container">
        <div class="box-1">
            <h1>NOT FOUND</h1>
            <span class="app_txt" style="font-size: 30px">
                <img th:src="@{images/404.gif}" alt="">
            </span>
        </div>
<!--        <img th:src="@{images/taco.jpg}" >-->
    </div>
</body>
</html>
